<footer class="footer">
  <div class="container">
    <p>&copy; {{ site.time | date: '%Y' }} APEX - Advanced Physique Enhancement Program. Created by <a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a>.</p>
    <p>
      <a href="{{ site.baseurl }}/">Home</a> |
      <a href="{{ site.baseurl }}/docs/getting-started/">Getting Started</a> |
      <a href="{{ site.baseurl }}/docs/workouts/">Workouts</a> |
      <a href="{{ site.baseurl }}/docs/nutrition/">Nutrition</a> |
      <a href="https://github.com/{{ site.github_username }}/{{ site.repository }}">GitHub</a>
    </p>
  </div>
</footer>