---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body>
  <a class="skip-to-main" href="#main-content">Skip to main content</a>
  {% include_cached icons.html %}
  {% include_cached components/header.html %}
  <div class="side-bar">
    <div class="site-header" role="banner">
      <a href="{{ '/' | relative_url }}" class="site-title lh-tight">{% include title.html %}</a>
      <button id="menu-button" class="site-button btn-reset" aria-label="Toggle menu" aria-pressed="false">
        <svg viewBox="0 0 24 24" class="icon" aria-hidden="true"><use xlink:href="#svg-menu"></use></svg>
      </button>
    </div>
    <nav aria-label="Main" id="site-nav" class="site-nav">
      {% assign pages_top_size = site.html_pages 
          | where_exp:"item", "item.title != nil" 
          | where_exp:"item", "item.parent == nil"
          | where_exp:"item", "item.nav_exclude != true" 
          | size %}
      {% if pages_top_size > 0 %}
        {% include nav.html pages=site.html_pages %}
      {% endif %}
      {%- if site.nav_external_links -%}
        <ul class="nav-list">
          {%- for link in site.nav_external_links -%}
            <li class="nav-list-item external">
              <a href="{{ link.url }}" class="nav-list-link external">
                {{ link.title }}
                {% include external-link.html %}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
      {% if site.just_the_docs.collections %}
        {% assign collections_size = site.just_the_docs.collections | size %}
        {% for collection_entry in site.just_the_docs.collections %}
          {% assign collection_key = collection_entry[0] %}
          {% assign collection_value = collection_entry[1] %}
          {% assign collection = site[collection_key] %}
          {% if collection_value.nav_exclude != true %}
            {% if collections_size > 1 or pages_top_size > 0 %}
              {% if collection_value.nav_fold == true %}
                <ul class="nav-list nav-category-list">
                  <li class="nav-list-item{% if page.collection == collection_key %} active{% endif %}">
                    {%- if collection.size > 0 -%}
                    <button class="nav-list-expander btn-reset" aria-label="Toggle collection {{ collection_value.name }}" aria-pressed="{% if page.collection == collection_key %}true{% else %}false{% endif %}">
                      <svg viewBox="0 0 24 24" class="icon" aria-hidden="true"><use xlink:href="#svg-arrow-right"></use></svg>
                    </button>
                    {%- endif -%}
                    <a href="{{ collection_value.permalink | relative_url }}" class="nav-list-link">{{ collection_value.name }}</a>
                    {% include nav.html pages=collection %}
                  </li>
                </ul>
              {% else %}
                <ul class="nav-list nav-category-list">
                  <li class="nav-list-item">
                    <a href="{{ collection_value.permalink | relative_url }}" class="nav-list-link">{{ collection_value.name }}</a>
                  </li>
                </ul>
                {% include nav.html pages=collection %}
              {% endif %}
            {% else %}
              {% include nav.html pages=collection %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </nav>

    {% capture nav_footer_custom %}
      {%- include nav_footer_custom.html -%}
    {% endcapture %}
    {% if nav_footer_custom != "" %}
      {{ nav_footer_custom }}
    {% else %}
      <footer class="site-footer">
        This site uses <a href="https://github.com/just-the-docs/just-the-docs">Just the Docs</a>, a documentation theme for Jekyll.
      </footer>
    {% endif %}
  </div>
  <div class="main" id="top">
    <div id="main-header" class="main-header">
      {% if site.search_enabled != false %}
        <div class="search">
          <div class="search-input-wrap">
            <input type="text" id="search-input" class="search-input" tabindex="0" placeholder="Search {{ site.title }}" aria-label="Search {{ site.title }}" autocomplete="off">
            <label for="search-input" class="search-label"><svg viewBox="0 0 24 24" class="search-icon"><use xlink:href="#svg-search"></use></svg></label>
          </div>
          <div id="search-results" class="search-results"></div>
        </div>
      {% endif %}
      {% include header_custom.html %}
      {% if site.aux_links %}
        <nav aria-label="Auxiliary" class="aux-nav">
          <ul class="aux-nav-list">
            {% for link in site.aux_links %}
              <li class="aux-nav-list-item">
                <a href="{{ link.last }}" class="site-button"
                  {% if site.aux_links_new_tab %}
                  target="_blank" rel="noopener noreferrer"
                  {% endif %}
                >
                  {{ link.first }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
    </div>
    <div id="main-content-wrap" class="main-content-wrap">
      {% unless page.url == "/" %}
        {% if page.parent %}
          <nav aria-label="Breadcrumb" class="breadcrumb-nav">
            <ol class="breadcrumb-nav-list">
              {% if page.grand_parent %}
                <li class="breadcrumb-nav-list-item"><a href="{{ first_level_url }}">{{ page.grand_parent }}</a></li>
                <li class="breadcrumb-nav-list-item"><a href="{{ second_level_url }}">{{ page.parent }}</a></li>
              {% else %}
                <li class="breadcrumb-nav-list-item"><a href="{{ first_level_url }}">{{ page.parent }}</a></li>
              {% endif %}
              <li class="breadcrumb-nav-list-item"><span>{{ page.title }}</span></li>
            </ol>
          </nav>
        {% endif %}
      {% endunless %}
      <div id="main-content" class="main-content" role="main">
        {% if site.heading_anchors != false %}
          {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#svg-link\"></use></svg>" anchorClass="anchor-heading" anchorAttrs="aria-labelledby=\"%html_id%\"" %}
        {% else %}
          {{ content }}
        {% endif %}

        {% if page.has_children == true and page.has_toc != false %}
          <hr>
          <h2 class="text-delta">Table of contents</h2>
          <ul>
            {%- assign children_list = pages_list | where: "parent", page.title | where: "grand_parent", page.parent -%}
            {% for child in children_list %}
              <li>
                <a href="{{ child.url | relative_url }}">{{ child.title }}</a>{% if child.summary %} - {{ child.summary }}{% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% capture footer_custom %}
          {%- include footer_custom.html -%}
        {% endcapture %}
        {% if footer_custom != "" or site.last_edit_timestamp or site.gh_edit_link %}
          <hr>
          <footer>
            {% if site.back_to_top %}
              <p><a href="#top" id="back-to-top">{{ site.back_to_top_text }}</a></p>
            {% endif %}

            {{ footer_custom }}

            {% if site.last_edit_timestamp or site.gh_edit_link %}
              <div class="d-flex mt-2">
                {% if site.last_edit_timestamp and site.last_edit_time_format and page.last_modified_date %}
                  <p class="text-small text-grey-dk-000 mb-0 mr-2">
                    Page last modified: <span class="d-inline-block">{{ page.last_modified_date | date: site.last_edit_time_format }}</span>.
                  </p>
                {% endif %}
                {% if
                  site.gh_edit_link and
                  site.gh_edit_link_text and
                  site.gh_edit_repository and
                  site.gh_edit_branch and
                  site.gh_edit_view_mode
                %}
                  <p class="text-small text-grey-dk-000 mb-0">
                    <a href="{{ site.gh_edit_repository }}/{{ site.gh_edit_view_mode }}/{{ site.gh_edit_branch }}{% if site.gh_edit_source %}/{{ site.gh_edit_source }}{% endif %}{% if page.collection and site.collections_dir %}/{{ site.collections_dir }}{% endif %}/{{ page.path }}" id="edit-this-page">{{ site.gh_edit_link_text }}</a>
                  </p>
                {% endif %}
              </div>
            {% endif %}
          </footer>
        {% endif %}

      </div>
    </div>

    {% if site.search_enabled != false %}
      {% if site.search.button %}
        <button class="search-button" aria-label="Search" aria-pressed="false">
          <svg viewBox="0 0 24 24" class="icon search-icon" aria-hidden="true"><use xlink:href="#svg-search"></use></svg>
        </button>
      {% endif %}

      <div class="search-overlay"></div>
    {% endif %}
  </div>

  {% if site.mermaid %}
    {% include mermaid.html %}
  {% endif %}
</body>
</html>